body {
  padding: 500px;

  background: linear-gradient(-45deg, #fa8b69, #f186af, #6dc7e7, #23d5ab);
  background-size: 700% 700%;
  animation: gradient 5s ease infinite;
  height: 100%;
  width: 100%;
  color: yellow;
  font-style: Garamond;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
